In [29]:
import quandl as q
import pandas as pd
q.ApiConfig.api_key = 'noDzHhXh6FfvEUFaBFi9'

In [15]:
data = q.get('FSE/SAP_X', start_date='2018-1-1',
                      end_date='2020-05-01')

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 579 entries, 2018-01-02 to 2020-04-30
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   257 non-null    float64
 1   High                   579 non-null    float64
 2   Low                    579 non-null    float64
 3   Close                  579 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          533 non-null    float64
 6   Turnover               533 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 49.8+ KB

In [17]:
vol = q.get('VOL/MSFT')

In [21]:
vol[['IvMean30', 'IvMean60', 'IvMean90']].tail()

            IvMean30  IvMean60  IvMean90
Date
2018-12-24    0.4310    0.4112    0.3829
2018-12-26    0.4059    0.3844    0.3587
2018-12-27    0.3918    0.3879    0.3618
2018-12-28    0.3940    0.3736    0.3482
2018-12-31    0.3760    0.3519    0.3310

In [24]:
from sample_data import generate_sample_data

In [26]:
%time data = generate_sample_data(rows=5e6, cols=10).round(4)

CPU times: user 1.42 s, sys: 339 ms, total: 1.76 s
Wall time: 1.85 s

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [30]:
h5 = pd.HDFStore('data/data.h5', 'w')

In [31]:
import tables as tb

In [34]:
data.to_hdf('data/data_table.h5', 'data', format='table')

In [35]:
import sqlite3 as sq3

In [37]:
%time data = generate_sample_data(1e6, 5, '1min').round(4)

CPU times: user 169 ms, sys: 31.1 ms, total: 200 ms
Wall time: 206 ms

In [38]:
con = sq3.connect('data/data.sql')

In [39]:
%time data.to_sql('data', con)

CPU times: user 1.84 s, sys: 122 ms, total: 1.96 s
Wall time: 2.04 s

1000000

In [40]:
query = 'SELECT * FROM data WHERE No1 > 105 and No2 < 108'

In [41]:
%time res = con.execute(query).fetchall()

CPU times: user 627 ms, sys: 83.3 ms, total: 710 ms
Wall time: 845 ms